@import "tailwindcss";

@font-face {
  font-family: lau-300;
  src: url(/fonts/Lausanne-300.woff2);
}

@font-face {
  font-family: lau-500;
  src: url(/fonts/Lausanne-500.woff2);
}

html, body {
  background-color: black;
  color: rgb(112, 112, 112);
}